
$black:rgb(18,17,22);
$light-black:rgb(36,35,41);
$light-green:rgb(165,255,175);
$gray:rgb(112,111,119);
$yellow:rgb(238,205,126);
$white:rgb(231,233,239);

footer{
    width: 100vw;
    background: $light-black;
    padding: 20px;
    color: $white;

    .title{
        text-align: center;
    }
    .subtitle{
        text-align: center;
        letter-spacing: 2px;

        a{
            color: $light-green;
            font-weight: bold;
            text-decoration: none;

            &:hover{
                text-decoration: underline;
            }
        }
    }
}